<div class="ml-50 mr-50">
  <p-table [value]="patients" stripedRows [tableStyle]="{'min-width': '50rem'}">
    <ng-template #header>
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Age</th>
        <th>Condition</th>
        <th>Medical history</th>
        <th>Is taken care of</th>
      </tr>
    </ng-template>
    <ng-template #body let-patient>
      <tr>
        <td>{{patient.lastName}}</td>
        <td>{{patient.firstName}}</td>
        <td>{{patient.age}}</td>
        <td>
          <p-tag [value]="patient.condition" [severity]="getSeverity(patient.condition)" />
        </td>
        <td>{{patient.medical_record}}</td>
        <td>
          <p-tag [value]="patient.isAssigned" [severity]="isAssigned(patient.isAssigned)" />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

