<div class="d-grid grid-cols-2">
  <div></div>
  <div>
    <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">

      <div class="d-flex gap-16">
        <div>
          <div class="mb-10">
            <label for="firstName">First Name</label>
          </div>
          <div class="mb-25">
            <input pInputText id="firstName" formControlName="firstName" autocomplete="off" />
          </div>
        </div>

        <div>
          <div class="mb-10">
            <label for="lastName">Last name</label>
          </div>
          <div class="mb-25">
            <input pInputText id="lastName" formControlName="lastName" autocomplete="off" />
          </div>
        </div>
      </div>

      <div class="mb-25 d-flex gap-16">
        <div>
          <div class="mb-10">
            <label>Age</label>
          </div>
          <div>
            <p-input-number inputId="age" formControlName="age" autocomplete="off"></p-input-number>
          </div>
        </div>

        <div class="mb-25">
          <div class="mb-10">
            <label>Select condition</label>
          </div>
          <div>
            <p-select-button [options]="conditions" formControlName="condition" optionLabel="label" optionValue="value"/>
          </div>
        </div>
      </div>

      <div class="mb-25">
        <div class="mb-10">
          <label>Medical record</label>
        </div>
        <textarea rows="5" cols="30" pTextarea formControlName="medical_record"></textarea>
      </div>

      <p-button type="submit" label="Add patient" icon="pi pi-send" [disabled]="patientForm.invalid"/>
    </form>

  </div>
</div>

