@font-face {
  font-family: 'Inter';
  font-style: normal;
  src: url('../fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('ttf');
}

/* inter-500 - latin */
@font-face {
  font-family: 'Inter';
  font-style: italic;
  src: url('../fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('ttf');
}
