$primary-bg-color-hover: #f19500;
$sidebar-background: #fff;
$primary-green: #009360;
$primary-green-dark: #155455;
$gray: #c6c6c6;
$gray-light: #dbdbdb;
$gray-lighter: #f1f1f1;
$gray-dark: #444444;

$gray-100: #f7f7f8;

$white: #fff;

$text-danger: #bc0d0d;
$text-danger-dark: #970505;
$text-color: #242425;

$text-gray-light: #eaece9;

$border-radius-small: 4px;
$border-radius: 8px;

$btn-border-radius: $border-radius;
$btn-border-radius-small: $border-radius-small;
$input-box-border-radius: $border-radius;
$float-input-normal-height: 36px;

$paragraph-margin-bottom: 16px;

$transitionDuration:.2s;

$sidebar-width: 250px;